/* Roots */
:root {
    --verdeOscuro: #00474B;
    --celesteClaro: #C5E4E7;
    --fondoGris: #F3F8FB
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--celesteClaro);
    color: var(--verdeOscuro);
}


/* Estilos Contenedores */
.totalCompleto{
    width: 90%;
    height: 100px;
    background-color: var(--verdeOscuro);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: var(--celesteClaro);
    font-size: 1.5rem;
    border-radius: 10px;
}

.total, .totalPersona{
    width: 90%;
    height: 200px;
    background-color: var(--verdeOscuro);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.division{
    width: 90%;
    height: auto;
    border-radius: 10px;
    background-color: var(--verdeOscuro);
    color: var(--celesteClaro);
    margin-top: 2rem;
    overflow: hidden;
}

.cont-rutaPagos{
    width: 90%;
    height: auto;
    margin-top: 2rem;
    border-radius: 10px;
    background-color: var(--verdeOscuro);
    color: var(--celesteClaro);
    padding: 10px;
    line-height: 25px;
    font-size: 16px;
    font-weight: 500;
}

.cont-boton{
    width: 90%;
    height: 30PX;
    margin-top: 50px;
    text-align: center;
}

/* Estilos individuales */ 
#total, #totalPersona{
    font-weight: 700;
    font-size: 2rem;
}

.division td:not(:first-of-type){
    width: 100%;
    text-align: end;
}

.division td{
    padding: 8px 5px;
    text-align: start;
}

.division tr{
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.2em;
}

.division td{
    border-top: 1px solid #fafafa;
}

.encabezado td{
    border: none;
}

button{
    width: 50%;
    height: 100%;
    background-color: var(--verdeOscuro);
    color: var(--celesteClaro);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    transition: all .3s ease-in-out;
    font-weight: 700;
}

button:hover{
   background-color: var(--celesteClaro);
   box-shadow: 5px 5px grey ;
}

button:hover span{
    color: var(--verdeOscuro);
    font-weight: 700;
}

@media (min-width: 800px) {
    .totalCompleto, .division, .cont-rutaPagos{
        width: 40%;
    }

    button{
        width: 20%;
    }
}
